{% extends "base.html" %}

{% block title %}备份文件列表{% endblock %}
{% block header %}备份文件列表{% endblock %}

{% block content %}
    <div>
        <h2>现有备份文件</h2>
        <h3>YuYuWechat的数据库每天会自动备份一次，可以在这里下载每天的备份文件</h3>
        {% if backup_files %}
            <table>
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for file_name in backup_files %}
                    <tr>
                        <td>{{ file_name }}</td>
                        <td>
                            <!-- 使用我们在 urls.py 中配置的 download_backup 路由 -->
                            <a href="{% url 'download_backup' file_name %}" class="download-button">下载</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>暂无备份文件。</p>
        {% endif %}
    </div>
{% endblock %}